body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 25px;
}
table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
}
th, td {
    border: 1px solid #bebebe;
    padding: 4px;
}
th {
    background-color: #f2f2f2;
    text-align: center;
    width: 210px;
    text-transform: uppercase;
}
td {
    text-align: center;
    width: 25%;
    font-size: 12px;
}
.header-row {
    background-color: #e0e0e0;
    font-weight: bold;
    font-size: 1.2em;
}
.padding-none{
    padding: 0;
    border: 0;
}
.inner-table td {
    width: 50%;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}
.container-form{
    text-align: left;
}
.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    font-size: 1rem;
    color: #333;
}

.container-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    color: #555;
}
input[type="text"]:focus, input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
}
select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    color: #555;
    background-color: #fff;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" stroke="%23333" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6"></path></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 1em;
    cursor: pointer;
}
select:focus {
    border-color: #007bff;
    outline: none;
}
textarea {
    width: 90%;
    padding: 8px;
    border: none;
    resize: vertical;
    min-height: 50px; 
    max-height: 150px; 
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#deleteRowButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    transition: background-color 0.3s ease;
}

#deleteRowButton:hover {
    background-color: #c82333;
}


.bg-green, .nivel1 , .nivel1 > th{
    background-color: green;
}
.bg-orange, .nivel2, .nivel2 > th{
    background-color: orange;
}
.bg-red, .nivel3, .nivel3 > th{
    background-color: red;
}

.bg-green, .bg-orange, .bg-red{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}


.info{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.info > table{
    width: 20%;
}

.info > button{
    height: 40px;
}
